// Primary colors
$black: #1e1d1d;
$black-dark: #252525;
$dark: #2b2b2b;
$light-dark: #373737;
$gray: #94a3b8;
$white: #e2e8f0;

// Secondary
$green: #0d9272;
$red: #90113f;
$purple: #b12ec7;
$coral: #fb5f5f;

// Line colors
$line-black: #232323;
$line-dark: #303030;
$line-green: #14c299;
$line-red: #dc3c76;
$line-purple: #e860ff;
$line-coral: #fa9292;
