@import "./colors";

@mixin blurBackground($blur: 20px) {
  backdrop-filter: blur($blur);
  background: radial-gradient(
    90% 140% at 15% 21%,
    rgba(165, 239, 255, 0.2) 0%,
    rgba(110, 191, 244, 0.0447917) 77%,
    rgba(70, 144, 213, 0) 100%
  );
  background-blend-mode: overlay, normal;
  box-shadow: 0 5px 5px 2px rgba(#000, 0.2);
}

@mixin toggleHighlight($val: none) {
  -webkit-touch-callout: $val; /* iOS Safari */
  -webkit-user-select: $val; /* Safari */
  -khtml-user-select: $val; /* Konqueror HTML */
  -moz-user-select: $val; /* Old versions of Firefox */
  -ms-user-select: $val; /* Internet Explorer/Edge */
  user-select: $val;
}

@mixin verticalScrollBar {
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(black, 0.3);
    border-radius: 15px;

    &:hover {
      background: rgba(black, 0.5);
    }
  }

  &::-webkit-scrollbar-track {
    display: none;
  }
}

@mixin horizontalScrollBar {
  &::-webkit-scrollbar {
    height: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(black, 0.4);
    border-radius: 15px;

    &:hover {
      background: rgba(black, 0.6);
    }
  }

  &::-webkit-scrollbar-track {
    display: none;
  }
}

@mixin hideHorizontalScrollbar {
  &::-webkit-scrollbar {
    visibility: none;
    height: 10px;
  }
}

@mixin hideVerticalScrollbar {
  &::-webkit-scrollbar {
    visibility: none;
    width: 10px;
  }
}

@mixin scale($scale: 1, $interval: 0.05) {
  transform: scale($scale);

  @media only screen and (min-width: 600px) and (max-width: 900px) {
    transform: scale($scale - $interval * 2);
  }
  @media only screen and (min-width: 900px) and (max-width: 1200px) {
    transform: scale($scale - $interval * 1);
  }
  @media only screen and (min-width: 1200px) and (max-width: 1500px) {
    transform: scale($scale);
  }
  @media only screen and (min-width: 1500px) and (max-width: 1800px) {
    transform: scale($scale + $interval * 1);
  }
  @media only screen and (min-width: 1800px) and (max-width: 2100px) {
    transform: scale($scale + $interval * 2);
  }
  @media only screen and (min-width: 2100px) and (max-width: 3500px) {
    transform: scale($scale + $interval * 4);
  }

  @media only screen and (min-height: 400px) and (max-height: 600px) {
    transform: scale($scale - $interval * 5);
  }
  @media only screen and (min-height: 600px) and (max-height: 667px) {
    transform: scale($scale - $interval * 3);
  }
  @media only screen and (min-height: 667px) and (max-height: 700px) {
    transform: scale($scale - $interval * 2);
  }
  @media only screen and (min-height: 700px) and (max-height: 767px) {
    transform: scale($scale - $interval * 1);
  }
  @media only screen and (min-height: 767px) and (max-height: 800px) {
    transform: scale($scale);
  }
  @media only screen and (min-height: 800px) and (max-height: 900px) {
    transform: scale($scale + $interval * 1);
  }
  @media only screen and (min-height: 900px) and (max-height: 1200px) {
    transform: scale($scale + $interval * 2);
  }
}
