@import "styles/imports/colors";
@import "styles/imports/mixins";

.store {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 auto;
  width: 90%;
  height: 100%;
  padding: 40px 0;

  &-items {
    display: flex;
    overflow-x: scroll;
    align-items: center;
    justify-content: flex-start;
    scroll-snap-type: x mandatory;
    gap: 50px;
    width: 80%;
    padding: 10px 0;
    margin: 0 auto;
    margin-top: 25px;

    &.hovered {
      &::-webkit-scrollbar {
        visibility: visible;
        background: transparent;
        height: 10px;
      }

      &::-webkit-scrollbar-track {
        display: none;
      }

      &::-webkit-scrollbar-thumb {
        @include blurBackground(100px);
        border: 1px solid rgba($gray, 0.3);
        border-radius: 10px;

        &:hover {
          background-color: rgba($gray, 0.1);
        }
      }
    }

    &::-webkit-scrollbar {
      visibility: none;
      height: 10px;
    }
  }
}
