@import "styles/imports/colors";
@import "styles/imports/mixins";

.card {
  @include blurBackground;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid $gray;
  height: 400px;
  min-width: 270px;
  min-height: 400px;
  border-radius: 15px;

  &-content {
    display: flex;
    text-align: center;
    position: relative;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    padding: 20px;

    &-img {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 35%;

      img {
        width: 130px;
      }
    }

    &-title {
      font-weight: bolder;
      height: 15%;
    }

    &-desc {
      height: 35%;
    }

    &-buy {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      height: 15%;
      margin-top: auto;

      &-button {
        display: flex;
        align-items: center;
        box-sizing: border-box;
        justify-content: center;
        background-color: $black;
        border: 1px solid $gray;
        color: $white;
        margin: 0;
        padding: 5px 20px;
        border-radius: 50px;
        box-shadow: 0 3px 5px 2px rgba($black, 1);

        &:hover {
          cursor: pointer;
        }

        p {
          display: flex;
          align-items: center;
          margin: 0;
          gap: 10px;
          font-size: 18px;
          font-weight: 100;
        }
      }
    }

    &-locked-icon {
      display: flex;
      position: absolute;
      align-items: center;
      justify-content: center;
      background-color: rgba($black, 0.75);
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      svg {
        color: $white;
        font-size: 125px !important;
      }
    }
  }

  &.notafford {
    .card-content-buy-button {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  &.purchased {
    .glass-container {
      border-color: $line-green !important;
    }

    .card-content-buy-button {
      pointer-events: none;
      background-color: $green;
      border: 1px solid $line-green;
      opacity: 0.7;
      box-shadow: inset 0 2px 5px 2px rgba($black, 0.4);
    }
  }

  &.locked {
    .card-content {
      &-img {
        filter: brightness(0);
      }
      &-title {
        filter: brightness(0);
      }
      &-desc {
        filter: brightness(0);
      }
      &-buy-button {
        pointer-events: none;
        opacity: 0.7;
        box-shadow: inset 0 4px 2px 3px rgba(#000, 1) !important;
      }
    }
  }
}
