@import "styles/imports/colors";
@import "styles/imports/mixins";

.store {
  display: flex;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 auto;
  margin-top: auto;
  width: 90%;
  height: 100%;
  padding: 40px 0;
  max-width: 1400px;

  &-info {
    margin-top: 15px;
  }

  &-items {
    display: flex;
    overflow-x: scroll;
    align-items: center;
    justify-content: flex-start;
    scroll-snap-type: x mandatory;
    gap: 50px;
    width: 90%;
    padding: 10px 0;
    margin: 0 auto;
    margin-top: 50px;

    &.hovered {
      @include horizontalScrollBar;
    }
    @include hideHorizontalScrollbar;
  }
}
