@import "styles/imports/colors";

.merge-stat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 2px auto;

  &-value {
    color: $white;
    display: flex;
    align-items: flex-end;

    &.max {
      color: $gray !important;
      text-align: left;
      font-size: 10px;
      margin-left: 2px;
      width: 40px;
    }
  }
}
