@import "styles/imports/colors";

.card {
  display: flex;
  flex-direction: column;
  min-width: 270px;
  height: 400px;
  min-height: 400px;

  &-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;

    &-img {
      height: 35%;
      img {
        width: 130px;
        height: 130px;
      }
    }
    &-title {
      height: 15%;
      font-weight: bolder;
    }

    &-desc {
      height: 35%;
    }

    &-buy {
      height: 15%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &-button {
        background-color: $black;
        border: 3px solid $white;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 150px;
        border-radius: 50px;
        color: white;
        margin: 0;
        &:hover {
          cursor: pointer;
        }

        p {
          font-size: 24px;
          margin: 0;
          display: flex;
          align-items: center;
          gap: 10px;
        }
      }
    }
  }

  &.purchased {
    .glass-container {
      border-color: $line-green !important;
    }

    .card-content-buy-button {
      background-color: $green;
      pointer-events: none;
    }
  }

  &.locked {
    .card-content {
      &-img {
        filter: brightness(0);
      }
      &-title {
        filter: brightness(0);
      }
      &-desc {
        filter: brightness(0);
      }
      &-buy-button {
        pointer-events: none;
      }
    }
  }
}
