@import "../../styles/imports/colors";

.orders {
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 0;
  right: 0;
  bottom: 0;
  margin: 10px 10px;
  height: 100%;
  padding: 50px 20px;
}
