@import "styles/imports/colors";
@import "styles/imports/mixins";

.help-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;

  &-tutorials {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 25px;
    width: 80%;
    z-index: 1;
    max-width: 950px;

    &-tutorial {
      @include blurBackground;
      display: flex;
      position: relative;
      box-sizing: border-box;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      border: 3px solid $line-dark;
      box-shadow: 3px 5px 5px rgba($white, 0.1);
      transition: box-shadow 300ms ease-in-out, border-color 300ms ease-in-out;
      width: 175px;
      height: 225px;
      padding: 20px;
      border-radius: 10px;

      &-title {
        color: $white;
        text-shadow: 1px 2px 1px rgba(0, 0, 0, 1);
        transition: text-shadow 200ms ease-in-out;
        font-size: 18px;
        font-weight: 600;
      }

      &-description {
        color: $gray;
        transition: color 200ms ease-in-out;
        font-size: 15px;
        margin-top: 5px;
        font-weight: 200;
      }

      &-play {
        display: none;
        position: absolute;
        color: $white;
        text-shadow: 0 0 7px rgba($white, 1);
        transition: display 300ms ease-in-out;
        bottom: 10px;
        right: 10px;
      }

      &:hover {
        cursor: pointer;
        border-color: $white;
        box-shadow: 0 0 5px 3px rgba($white, 0.3);

        .help-screen-tutorials-tutorial-title {
          text-shadow: 0 0 7px rgba($white, 1);
        }

        .help-screen-tutorials-tutorial-description {
          color: $white;
        }

        .help-screen-tutorials-tutorial-play {
          display: block;
        }
      }
    }
  }
}
