@import "styles/imports/colors";
@import "styles/imports/mixins";

.merge-screen {
  @include scale(1);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  gap: 5%;

  &-day {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    h1 {
      font-size: 50px;
      margin-top: 30px;
    }
  }

  &-to-summary {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  &-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    &-middle {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      width: 225px;
      height: 100%;

      &-loading {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-end;
        height: 65%;

        img {
          box-sizing: border-box;
          background-color: $dark;
          border: 3px solid $line-dark;
          box-shadow: inset 0 0 5px 3px rgba(0, 0, 0, 0.4);
          padding: 4px;
          width: 50px;
          border-radius: 100%;
          margin-bottom: 15px;
        }
      }

      &-text {
        text-align: center;
        color: $gray;
        width: 80%;
        min-height: 35%;
        font-weight: 100;
      }
    }
  }

  &-buttons {
    display: flex;
    justify-content: center;
    gap: 25px;
    width: 90%;
    height: 100px;
    margin-bottom: 25px;
  }
}
