@import "styles/imports/colors";

.merge-screen {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;

  &-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 60%;
    height: 70%;
    margin: 15px 0;
  }

  &-terminal {
    margin: 0 auto;
    width: 60%;
    height: 30%;
    margin-bottom: 25px;
  }
}
