@import "styles/imports/colors";

.store-screen {
  display: flex;
  flex-direction: column;
  background-image: url("../../assets/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100vw;
  height: 100vh;

  &-top {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  &-bottom {
    display: flex;
    margin-top: auto;
    align-items: flex-end;
    box-sizing: border-box;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 25px;
    padding: 0 25px;
  }
}
