@import "styles/imports/colors";
.summary-screen {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;

  &-day {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    h1 {
      font-size: 50px;
      margin-top: 30px;
    }
  }

  &-branches {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 100%;
  }

  &-buttons {
    display: flex;
    justify-content: center;
    gap: 25px;
    width: 90%;
    margin-bottom: 25px;
    margin-top: 15px;
  }
}
