.summary-screen {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background-image: url("../../assets/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100vw;
  height: 100vh;

  &-buttons {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 25px;
    width: 350px;
  }
}
