@import "styles/imports/colors";

.directory-folder {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-top: 5px;
  margin-left: 20px;

  &-info {
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: flex-start;
    font-size: 16px;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }

  &-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 16px;
  }
}
