@import "../../styles/imports/colors";

.summary-modal {
  margin: auto;
  width: 500px;
  height: 500px;
  border-radius: 50px;

  &-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 32px;
    text-align: center;

    p {
      margin: 0;
    }

    &-top {
      padding: 0 50px 0 50px;
      box-sizing: border-box;
      height: 80%;
      width: 100%;

      &-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 64px;
        font-weight: bolder;
        height: 30%;
      }

      &-text {
        width: 100%;
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &-line {
          display: flex;
          justify-content: space-between;
        }
      }
    }

    &-bottom {
      height: 20%;
      width: 100%;
      font-weight: bold;
      height: 20%;
      width: 100%;
      display: flex;
      gap: 10px;
      justify-content: center;
      align-items: center;
      border-top: 2px dashed $white;
      background-color: rgba($black, 0.4);
    }
  }
}

.color-default {
  color: $green;
}

.color-negative {
  color: $red;
}
