@import "styles/imports/colors";
@import "styles/imports/mixins";

.summary-modal {
  @include blurBackground;
  margin: auto;
  overflow: hidden;
  border: 5px solid $line-dark;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.6),
    inset 0 0 5px 1px rgba(0, 0, 0, 0.6);
  color: $white;
  width: 400px;
  height: 500px;
  border-radius: 75px;

  &-content {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-size: 32px;

    p {
      margin: 0;
    }

    &-top {
      box-sizing: border-box;
      height: 80%;
      width: 100%;
      padding: 0 50px;

      &-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 1);
        font-size: 64px;
        font-weight: 900;
        margin-top: 50px;
      }

      &-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90%;
        margin: 0 auto;
        margin-top: 50px;

        &-line {
          display: flex;
          justify-content: space-between;
        }
      }
    }

    &-bottom {
      display: flex;
      font-weight: bold;
      align-items: center;
      justify-content: center;
      border-top: 1px dashed $line-dark;
      box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.4);
      background-color: rgba($black, 0.4);
      gap: 10px;
      width: 100%;
      height: 20%;
    }
  }
}

.color-default {
  color: $line-green;
}

.color-negative {
  color: $line-red;
}
