@import "styles/imports/colors";

.staged-order {
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: flex-start;
  backdrop-filter: blur(20px);
  background: radial-gradient(
    90% 140% at 15% 21%,
    rgba(165, 239, 255, 0.2) 0%,
    rgba(110, 191, 244, 0.0447917) 77%,
    rgba(70, 144, 213, 0) 100%
  );
  margin: 0 auto;
  background-blend-mode: overlay, normal;
  box-shadow: 0 5px 5px 2px rgba(#000, 0.2);
  width: 95%;
  padding: 10px 10px;
  border-radius: 10px;

  &-top {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: flex-start;
    width: 100%;
    padding: 0 10px;

    &-progress {
      display: flex;
      margin-left: auto;
      font-weight: bold;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      font-size: 12px;
    }
  }

  &-extra {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    font-size: 14px;
    margin-top: 5px;
    padding-left: 40px;
  }

  &:hover {
    cursor: pointer;
    opacity: 0.9;
  }
}
