@import "styles/imports/colors";

.staged-orders {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  row-gap: 15px;
  padding: 25px 5px;
}
