@import "styles/imports/colors";
@import "styles/imports/mixins";

.staged-order {
  @include blurBackground;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: flex-start;
  width: 95%;
  padding: 10px 10px;
  border-radius: 10px;

  &-top {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: flex-start;
    width: 100%;
    padding: 0 10px;

    &-progress {
      display: flex;
      margin-left: auto;
      font-weight: bold;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      font-size: 12px;
    }
  }

  &-extra {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    font-size: 14px;
    margin-top: 5px;
    padding-left: 40px;
  }

  &:hover {
    cursor: pointer;
    opacity: 0.9;
  }
}
