@import "styles/imports/colors";

.home {
  display: flex;
  flex-direction: column;
  background-image: url("../assets/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100vw;
  height: 100vh;
}
