@import "../styles/imports/colors";

.commitHistoryContainer {
  display: flex;
  width: 90%;
  margin: 0 auto;
  margin-top: 5px;
  height: 100px;
  background-color: $black;
  border-radius: 15px;
  border: 3px $line-dark solid;
}

.commitHistoryContent {
  display: flex;
  position: relative;
  overflow-x: scroll;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  padding: 0 15px;

  &::-webkit-scrollbar-track {
    border-radius: 15px;
  }

  &::-webkit-scrollbar {
    height: 4px;
    border-radius: 15px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $line-dark;
    border-radius: 15px;
  }
}

.commit {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $line-dark;
  height: 50px;
  width: 50px;
  border-radius: 100%;

  &:hover {
    cursor: pointer;
  }
}
