@import "../styles/imports/colors";

.infoContainer {
  display: flex;
  position: absolute;
  right: 40px;
  bottom: 40px;
  width: 400px;
  height: 200px;
  flex: 40% 60%;
  background-color: $black;
  border-radius: 15px;
  border: 3px $line-dark solid;

  .clockArea {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 100%;

    .clockText {
      width: 100%;
      text-align: center;
      color: $white;
    }
  }

  .infoArea {
    width: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: $white;
  }
}
