@import "styles/imports/colors";
@import "styles/imports/mixins";

.info-text {
  @include scale(1);
  display: flex;
  text-align: start;
  align-items: center;
  justify-content: flex-start;
  background-color: $dark;
  border: 3px solid $line-dark;
  box-shadow: inset 0 0 5px 3px rgba(black, 0.2);
  font-weight: 300;
  padding: 10px 25px;
  border-radius: 15px;

  &-icon {
    color: $line-orange !important;
    font-size: 28px !important;
    margin-right: 20px !important;
  }
}
