@import "../styles/imports/colors";

.terminalContainer {
  display: flex;
  position: absolute;
  flex-direction: column;
  left: 265px;
  right: 500px;
  bottom: 40px;
  width: 800px;
  height: 200px;
  background-color: $black-dark;
  border-radius: 0px 0px 15px 15px;
  border: 3px $line-dark solid;

  .content {
    width: 100%;
    height: 100%;
    padding: 25px;
  }
}
