@import "../styles/imports/colors";

.terminalContainer {
  display: flex;
  flex-direction: column;
  border: 3px $line-dark solid;
  background-color: $black-dark;
  border-radius: 0px 0px 15px 15px;
  width: 100%;
  height: 100%;

  .terminalContent {
    width: 100%;
    height: 100%;
    padding: 25px;
  }
}
