@import "../../styles/imports/colors";

.sidebar {
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  height: 100%;
  box-shadow: 10px 0 10px 2px rgba(0, 0, 0, 0.3);
}

.logo {
  margin: 0 auto;
  width: 150px;
  height: 150px;
  margin-top: 25px;
}
