@import "styles/imports/colors";

.tutorial-screen {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  width: 100%;

  img {
    width: 250px;
  }
}
