@import "styles/imports/colors";
@import "styles/imports/mixins";

.tutorials-nav {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: flex-start;
  overflow-x: auto;
  @include horizontalScrollBar;
  left: 35px;
  bottom: 15px;
  max-width: 100%;

  &-item {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $gray;

    &-content {
      display: flex;
      align-items: center;
      justify-content: center;
      white-space: nowrap;

      &:hover {
        cursor: pointer;
        opacity: 0.7;
      }
    }

    &.active {
      color: $line-green;
      text-shadow: 0 0 7px rgba($line-green, 1);

      .tutorials-nav-item-icon {
        filter: drop-shadow(0 2px 7px $line-green);
      }
    }

    .tutorials-nav-item-icon {
      font-size: 12px;
      margin-left: 5px;
      margin-right: 10px;
    }
  }

  &-button {
    &:hover {
      cursor: pointer;
    }
  }
}
