@import "styles/imports/colors";

.info-box {
  display: flex;
  background-color: rgba($black, 0.5);
  border: 3px $line-dark solid;
  border-radius: 15px;
  height: 150px;
  width: 90%;

  &-clock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 30%;
    height: 100%;
    font-size: 12px;

    &-text {
      text-align: center;
      color: $white;
      font-weight: 800;

      &.completed {
        color: $gray;
        font-weight: 300;
      }
    }
  }

  &-text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: $white;
    width: 70%;
    padding: 0 10px;
  }
}
