@import "styles/imports/colors";

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border: 3px $line-dark solid;
  background-color: rgba($black-dark, 0.5);
  backdrop-filter: blur(10px);
  width: 100%;
  height: 100%;
  border-top-left-radius: 15px;

  &-empty {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: 100%;

    svg {
      color: rgba($white, 0.1);
      font-size: 75px;
    }
    p {
      text-align: center;
      color: rgba($white, 0.15);
      font-size: 22px;
    }
  }
}
