@import "styles/imports/colors";

.orders {
  display: flex;
  overflow-y: scroll;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  gap: 30px;
  height: 100%;

  &::-webkit-scrollbar-track {
    background-color: $black;
    border-radius: 15px;
  }

  &::-webkit-scrollbar {
    width: 5px;
    border-radius: 15px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $white;
    border-radius: 15px;
  }
}
